---
import Testimonials from "../components/Testimonials.astro";
import MainLayout from "../layouts/MainLayout.astro";
import AddTestimonial from "./addTestimonial.astro";
import Header from "../components/Header.astro";
import "../pages/styles/style.css";
---

<MainLayout title="Forside">
  <Testimonials />
  <AddTestimonial />
  <section class="video"></section>
</MainLayout>

<style>
  .video {
    background-image: url(/public/img/wallpaper_in_hole.png);
    height: 900px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .body {
    background-image: url(/public/img/wallpaper);
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
