* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(/public/img/wallpaper_in_hole.png);
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
