---
---

<section>
  <form>
    <label for="title">Title:</label>
    <input id="title" name="title" type="text" required />

    <label for="long">Description:</label>
    <textarea name="long" id="long" rows="6" required></textarea>

    <div class="button">
      <button type="submit">Submit</button>
    </div>
  </form>
</section>

<script>
  function addTestimonial(newTestimonial) {
    //dette er funktionen der putter data i tabbellen i databasen

    const url = "https://fwirxyyqrprjeczrvxer.supabase.co/rest/v1/Testimonials";
    const api = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ3aXJ4eXlxcnByamVjenJ2eGVyIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODE0NTY3MDYsImV4cCI6MTk5NzAzMjcwNn0.VM-q6E4MMPN6MdZhxQO1EU2BTP7-eC2JSzm5zLEklLc";

    const options = {
      method: "POST", //post gør at den putter noget i tabellen istedet for at hente
      headers: {
        apikey: api,
        Authorization: "Bearer " + api,
        "Content-Type": "application/json",
        Prefer: "return=representation",
      },
      body: JSON.stringify(newTestimonial), //laver variablen newTestimonial til json (her er det et objekt med 2 værdier)
    };

    console.log("options:", options);

    fetch(url, options)
      .then((res) => res.json())
      .then((data) => {
        //når dden er færdig med at putte i databasen går den til filen addTestimonialfeedback "/" er for at sikre at den leder i roden
        window.location.href = "/addTestimonialFeedback";
      });
  }

  const form = document.querySelector("form");
  console.log("form.elements", form.elements);

  form.addEventListener("submit", (e) => {
    e.preventDefault();

    const obj = {
      title: form.elements.title.value,
      description: form.elements.long.value,
    };

    addTestimonial(obj);
  });
</script>

<style>
  section {
    max-width: 400px;
    margin-inline: auto;

    background-color: var(--one);
  }

  form {
    display: grid;
    justify-content: center;

    padding-block: 50px;
  }

  form label {
    color: var(--two);
    font-family: "open-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-base);
  }

  form input {
    border: none;
    height: 35px;
    width: 300px;
    border-radius: 4px;
  }

  form textarea {
    border: none;
    border-radius: 4px;

    height: 140px;
  }

  button {
    margin-top: 25px;

    border: none;
    border-radius: 4px;
    height: 35px;
    width: 100px;

    background-color: var(--five);
    color: var(--one);
    font-family: "open-sans", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: var(--font-size-base);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button {
    display: flex;
    justify-content: center;
  }
</style>
