---
---

<footer>
  <div class="social-icons">
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-instagram"></i>
  </div>
  <div class="footer">
    <div class="col_1">
      <h3><i class="fa-regular fa-envelope"><a href="mailto:info@royalescapes.dk"></a></i></h3>
      <p><a href="mailto:info@royalescapes.dk">info@royalescapes.dk</a></p>
    </div>
    <div class="col_2">
      <h3><i class="fa-solid fa-location-dot"></i></h3>
      <p><a href="Royal Escapes, København K, Fredericiagade 30, 1310 København">Royal Escapes, København K, Fredericiagade 30, 1310 København</a></p>
    </div>
  </div>
  <div class="credit">
    <p>Copyright Royal Escapes 2021© All Rights Reserved</p>
    <p>Web design by RESI</p>
  </div>
</footer>

<style>
  footer {
    margin-top: 100px;
    width: 100%;
    background-color: white;
    box-shadow: 0 -5px 5px -5px #333;
  }

  .social-icons {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    gap: 5%;
  }

  .fa-brands {
    margin-right: 4%;
  }

  .footer {
    display: flex;
    justify-content: space-evenly;
    max-width: 750px;
    margin-inline: auto;
    margin-block: 80px;
  }

  .col_1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 300px;
  }

  .col_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    max-width: 300px;
  }

  .credit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20%;
  }

  .credit p {
    font-size: var(--font-size-small);
  }
</style>
