---
---

<section>
  <article>
    <h1>Escape from reality and step into the</h1>
    <div class="animation">
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <script src="https://unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js"></script>
      <lottie-player id="playroom" src="public/playroom.json" background="transparent" speed="1" style="width: 300px; height: 300px;" autoplay></lottie-player>
    </div>
    <div class="text">
      <p>
        Step into the <span>p</span>layroom, where even though former kings <span>a</span>nd queens used to pla<span>y</span> here, it is not all fun and games. <span>C</span>an you solve the puzzles and figure out what wrongs have been committed and
        who till this day still haunts th<span>e</span> queen. Wil<span>l</span> you escape , or will you become part of the royal doll collection. D<span>o</span> you have the courage and i<span>m</span>agination it takes to figure out what secrets
        the playroom is hiding.
      </p>
    </div>
  </article>
</section>

<style>
  span {
    font-weight: bold;
  }
  section {
    margin-inline: 25%;
    height: 600px;
    padding: 1rem;
    background: linear-gradient(to right, #462523 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #462523 100%);

    text-align: center;
  }
  article {
    background-color: #faf0e6;
    height: 565px;
    padding: 1rem;
  }

  lottie-player {
    margin-top: -10%;
    margin-bottom: -5%;
  }

  .animation {
    display: flex;
    justify-content: center;
  }
</style>
