---
const { data } = Astro.props;

function getFirstNChars(str, length) {
  return str.substring(0, length);
}
---

<section id="reviews">
  <article>
    <div class="testimonials">
      <h2>{data.title}</h2>

      <p>
        {getFirstNChars(data.description, 20)}...
        <a href={"testimonials/" + data.title + "-" + data.id}> læs mere nu</a>
      </p>
    </div>
  </article>
</section>

<style>
  section {
    background: var(--three);
    padding: 1rem;

    max-width: 400px;
    margin-inline: auto;
    margin-block: 50px;
  }

  article {
    background: var(--one);
    padding: 1rem;

    padding-block: 6rem;

    border-width: 0px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #462523 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #462523 100%);
  }

  a:hover {
    color: var(--six);
  }

  @media (max-width: 1200px) {
    h2 {
      font-size: 1.5rem;
    }

    section {
      max-width: 240px;

      margin-bottom: 150px;
    }

    article {
      padding-block: 2rem;
    }
  }
</style>
