---
---

<section>
  <div class="hole_wall">
    <img src="../img/hole_in_wallpaper.webp" alt="" />
  </div>
  <iframe style="position: absolute; top: 20%; left: 2%;" width="1600" height="1000" src="https://www.hjortnaeskea.dk/kea/09_indhold/Playroom.mp4" frameborder="0" allow="autoplay" allowfullscreen></iframe>
</section>
<section class="game"></section>

<style>
  section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .hole_wall img {
    height: auto;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hole_wall {
    grid-column: 1;
    grid-row: 1;
  }

  iframe {
    grid-column: 1;
    grid-row: 1;

    z-index: -1;
  }
</style>
